.map-wrapper {
    width: 100%;
    height: calc(100vh - 80px); /* Ajusta el tamaño del mapa */
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa-container {
    width: 100%;
    height: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    z-index: 0; /* Evita problemas con otros elementos */
}
